<!-- register-item.component.html -->
<form (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Nombre:</label>
      <input type="text" id="name" [(ngModel)]="item.name" name="name" required>
    </div>
    <div>
      <label for="price">Precio:</label>
      <input type="number" id="price" [(ngModel)]="item.price" name="price" required>
    </div>
    <div>
      <label for="category">Categoría</label>
      <input type="text" id="category" [(ngModel)]="item.category" name="category" required>
    </div>
    <div>
      <label for="picture">Foto</label>
      <input type="file" id="picture" (change)="onFileSelected($event)" name="picture">
    </div>
    <button type="submit">Registrar</button>
  </form>
  