 
  input[type="text"] {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
  }
  nav {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .navbar-brand{
    list-style-type: none;
    margin: 0;
    padding: 14px 16px;
    overflow: hidden;
    display: flex;
    text-decoration: none; 
    color: #642bb1; 
    font-weight: bold;
  }
  .navbar-brand:hover {
    background-color: #ddd; 
    border-radius: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
  }

  .search-container {
    display: flex;
    align-items: center; /* Aligns the items vertically in the center */
  }

.search-input {
    flex-grow: 1; /* Makes the input field take up the available space */
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none; /* Removes the right border to blend with the button */
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #642bb1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
    font-weight: bold;
  }
  
  li a:hover {
    background-color: #ddd;
    border-radius: 10px; 
  }