 
  input[type="text"] {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
  }
  nav {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block; /* Makes the entire list item clickable */
    color: black; /* Text color for the links */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* Removes the underline from links */
  }
  
  li a:hover {
    background-color: #ddd; /* Light grey background on hover */
  }